@import '_navbar';
@import '_media-queries';


* {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    width: auto;
    box-sizing: border-box;
    background-color: #141414;
    cursor: move;
    overflow-x: hidden;
}

.web404{
    margin-bottom: 20px;
    @include mobile {
        color: yellow;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 0.5em;
    }

    @include tablet {
        color: yellow;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 1em;
    }

    @include desktop {
        color: yellow;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 1em;
    }

    &__animated {
        margin-top: 20px;
        @include mobile {
            width: 60%;
        }

        @include tablet {
            width: 40%;
        }

        @include desktop {
            width: 45%;
        }
    }
}

.Certificates {
    color: white;
    border: 1px solid yellow;
    height: 45px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    padding: 10px 20px 0px 20px;
    margin-top: 40px;
    margin-bottom: 15px;
}